.markdown-body

  .forum-teniryte
    
    .ooi-contents

      &__sections

        .large-button
          min-width: 300px !important;
          margin-bottom: 20px !important;
          margin: 10px !important;

        &__section

          &__docs

            .ooi-contents__doc
              min-width: 300px !important;

              &__header
                display: flex !important;

                &__type
                  opacity: 0.5 !important;
                  font-weight: 300 !important;
                  display: block !important;
                  margin-right: 5px !important;
                  font-style: italic !important;
                
                &__name
                  font-weight: 600 !important;
                  color: #263238 !important;

              &__desc
                color: #546E7A !important;
                font-weight: 400;
                font-size: 0.9em;
                border-radius: 4px;
                padding: 6px 12px 8px 12px;
                background-color: #fff;
                margin-top: 10px;
