.markdown-body .forum-teniryte .ooi-filter input {
  font-family: 'Helvetica Neue', 'HelveticaNeueCyr', 'Roboto', 'Open Sans', 'Helvetica', 'Arial', sans-serif;
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 2px;
  font-size: 17px;
  margin: 0;
  outline: 0;
  padding: 0.7em 1em 0.7em 1em;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  color: #455a64;
  color: #333;
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  font-weight: 400;
}
.markdown-body .forum-teniryte .ooi-filter input:focus {
  background: #fff;
  border-color: #48cfad;
  border-color: #78909c;
}
.markdown-body .forum-teniryte .ooi-filter input[disabled] {
  background: #e7ecee;
}
.markdown-body .forum-teniryte .ooi-doc {
  padding: 20px;
}
.markdown-body .forum-teniryte .ooi-contents__sections .large-button {
  min-width: 300px;
  margin-bottom: 20px;
  margin: 10px;
}
.markdown-body .forum-teniryte .ooi-contents__sections__section {
  color: #fff !important;
}
.markdown-body .forum-teniryte .ooi-contents__sections__section__desc {
  font-size: 16px;
  margin-left: 58px;
}
.markdown-body .forum-teniryte .ooi-contents__sections__section__docs .ooi-contents__doc {
  min-width: 300px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: none !important;
  border-left: 3px solid #f2994a !important;
}
.markdown-body .forum-teniryte .ooi-contents__sections__section__docs .ooi-contents__doc:hover {
  background-color: #fff !important;
  border-left: 3px solid #2d9cdb !important;
}
.markdown-body .forum-teniryte .ooi-contents__sections__section__docs .ooi-contents__doc .ooi-contents__doc__deps {
  font-size: 18px;
  font-weight: 500;
  color: #546e7a;
  font-weight: 400;
  font-size: 0.9em;
  border-radius: 4px;
  padding: 6px 12px 8px 12px;
  background-color: #eceff1;
  margin-top: 10px;
  border: 1px solid #cfd8dc;
  display: none;
  margin-top: 10px;
  color: #546e7a;
  font-weight: 400;
  font-size: 0.9em;
  border-radius: 4px;
  padding: 6px 12px 8px 12px;
  background-color: #fff;
  margin-top: 10px;
}
.markdown-body .forum-teniryte .ooi-contents__sections__section__docs .ooi-contents__doc[data-expanded="true"] {
  display: block;
  margin-bottom: 20px;
}
.markdown-body .forum-teniryte .ooi-contents__sections__section__docs .ooi-contents__doc[data-expanded="true"] .ooi-contents__doc__deps {
  display: block;
}
.markdown-body .forum-teniryte .ooi-contents__sections__section__docs .ooi-contents__doc .ooi-contents__doc__file {
  font-size: 18px;
  font-weight: 500;
  color: #546e7a;
  font-weight: 400;
  font-size: 0.9em;
  border-radius: 4px;
  padding: 6px 12px 8px 12px;
  background-color: #eceff1;
  margin-top: 10px;
  border: 1px solid #cfd8dc;
  display: none;
  margin-top: 10px;
  color: #546e7a;
  font-weight: 400;
  font-size: 0.9em;
  border-radius: 4px;
  padding: 6px 12px 8px 12px;
  background-color: #fff;
  margin-top: 10px;
}
.markdown-body .forum-teniryte .ooi-contents__sections__section__docs .ooi-contents__doc[data-expanded="true"] {
  display: block;
  margin-bottom: 20px;
}
.markdown-body .forum-teniryte .ooi-contents__sections__section__docs .ooi-contents__doc[data-expanded="true"] .ooi-contents__doc__file {
  display: block;
}
.markdown-body .forum-teniryte .ooi-contents__sections__section__docs .ooi-contents__doc .ooi-contents__doc__code {
  display: none;
  margin-top: 10px;
}
.markdown-body .forum-teniryte .ooi-contents__sections__section__docs .ooi-contents__doc .ooi-contents__doc__code pre {
  margin-bottom: 0;
  font-family: 'Fira Code', 'Hack', 'Menlo', 'Consolas', monospace;
  font-size: 14px;
  line-height: 1.2em;
  background: #333;
}
.markdown-body .forum-teniryte .ooi-contents__sections__section__docs .ooi-contents__doc[data-expanded="true"] {
  display: block;
  margin-bottom: 20px;
}
.markdown-body .forum-teniryte .ooi-contents__sections__section__docs .ooi-contents__doc[data-expanded="true"] .ooi-contents__doc__code {
  display: block;
}
.markdown-body .forum-teniryte .ooi-contents__sections__section__docs .ooi-contents__doc__header {
  display: flex;
  align-items: center;
}
.markdown-body .forum-teniryte .ooi-contents__sections__section__docs .ooi-contents__doc__header > * {
  display: block;
}
.markdown-body .forum-teniryte .ooi-contents__sections__section__docs .ooi-contents__doc__header__type {
  opacity: 0.7;
  font-weight: 400;
  display: block;
  margin-right: 5px;
  font-style: italic;
  position: relative;
  top: 2px;
}
.markdown-body .forum-teniryte .ooi-contents__sections__section__docs .ooi-contents__doc__header__name {
  font-weight: 600;
  color: #263238;
}
.markdown-body .forum-teniryte .ooi-contents__sections__section__docs .ooi-contents__doc__header__name strong {
  color: #0087e0;
  font-size: 1.2em;
}
.markdown-body .forum-teniryte .ooi-contents__sections__section__docs .ooi-contents__doc__desc {
  font-size: 18px;
  font-weight: 500;
  color: #546e7a;
  font-weight: 400;
  font-size: 0.9em;
  border-radius: 4px;
  padding: 6px 12px 8px 12px;
  background-color: #eceff1;
  margin-top: 10px;
  border: 1px solid #cfd8dc;
}
