body {
  display: block;
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', 'Roboto', 'Open Sans', 'Helvetica', 'Arial', sans-serif;
  background-color: #fff;
  background-attachment: fixed;
  background-image: url("https://cdn.sencort.com/ooi/images/bg/sports.png");
}
.index-content .section {
  margin-bottom: 20px !important;
}
.index-content .section > p {
  text-align: left !important;
  margin-top: 30px !important;
}
.index-content .section > p strong {
  margin-bottom: 20px;
}
.index-content .section pre {
  margin-bottom: 0;
  font-family: 'Fira Code', 'Hack', 'Menlo', 'Consolas', monospace;
  font-size: 14px;
  line-height: 1.2em;
  background: #333;
}
a i.fa,
a i.fas {
  color: #f2994a;
}
i.fa,
i.fas {
  dosplay: inline-block;
  margin-right: 0.26em;
}
.markdown-body img {
  max-width: none;
}
a.large-button {
  padding: 15px 20px;
  background-color: #009e54;
  color: #fff !important;
  font-size: 1.2em;
  font-weight: 500;
  display: inline-block;
  border-radius: 5px;
  transition: 0.3s background-color;
}
a.large-button:hover {
  background-color: #f2994a;
}
a.large-button:hover i.fa,
a.large-button:hover i.fas {
  color: #fff !important;
}
a.large-button--secondary {
  background-color: #fbfcfc;
  color: #263238;
  font-size: 1.1em;
  padding: 10px 15px 15px 15px;
  border-left: 3px solid #f2994a;
}
.markdown-body {
  padding-top: 30px;
}
.forum-teniryte {
  font-family: 'Helvetica Neue', 'Roboto', 'Open Sans', 'Helvetica', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 16px;
  padding: 30px;
  margin: 30px;
  background-color: rgba(255,255,255,0.85);
  width: 1300px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #eee;
  border-radius: 5px;
}
.forum-teniryte .marker {
  font-size: 0.8em;
  position: relative;
  bottom: 1px;
  color: #607d8b;
}
.forum-teniryte .section--header__slogan {
  width: auto;
}
.forum-teniryte p:first-of-type {
  text-align: center;
}
.forum-teniryte p:nth-of-type(2) {
  justify-content: center;
}
.forum-teniryte .contents a em {
  display: inline-block;
  margin-right: 3px;
  font-style: normal;
}
.forum-teniryte a {
  color: #0087e0;
  font-weight: 500;
}
.forum-teniryte a:hover {
  text-decoration: none;
  color: #f2994a;
}
.forum-teniryte .section--header img {
  border-radius: 10px;
}
.forum-teniryte .section--header h3 {
  font-size: 3em;
}
.forum-teniryte .section--miniheader img {
  border-radius: 10px;
}
.forum-teniryte .section--miniheader h3 {
  font-size: 2em;
  margin-top: 0;
}
.forum-teniryte .section {
  font-family: 'Helvetica Neue', 'Roboto', 'Open Sans', 'Helvetica', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 16px;
  padding: 20px;
  margin: 30px;
  background-color: #f7f7f7;
  border: 1px solid #cfd8dc;
  border-radius: 5px;
}
.forum-teniryte .section--header {
  text-align: center;
}
.forum-teniryte .section--header__menu span {
  color: #aaa;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}
.forum-teniryte .section--header strong {
  font-size: 1.1em;
}
.forum-teniryte .section--header__slogan {
  font-size: 1.4em;
}
.forum-teniryte ul {
  margin-left: 30px;
}
.forum-teniryte h2 {
  margin-top: 0 !important;
  color: #263238 !important;
  font-weight: 500 !important;
  margin-bottom: 20px !important;
  padding: 1em 1.1em 0.85em 1.1em !important;
  border-radius: 5px !important;
  background-color: #f1f1f1 !important;
  background-color: #fff !important;
  border: 1px solid #ebebeb !important;
  font-size: 1.2em !important;
}
.forum-teniryte h2 em {
  display: inline-block;
  margin-right: 20px;
  font-style: normal;
}
.forum-teniryte h2 a {
  opacity: 0.2;
  color: #78909c;
  position: relative;
  bottom: 1px;
}
.forum-teniryte h2 a:hover {
  opacity: 0.5;
  color: #78909c;
}
.forum-teniryte h1 {
  font-family: 'Helvetica Neue', 'Roboto', 'Open Sans', 'Helvetica', 'Arial', sans-serif;
  color: #263238;
  font-weight: 300;
  font-size: 1.5em;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
.forum-teniryte h1 em {
  color: #546e7a;
  font-weight: 500;
  font-style: normal;
  background-color: #eceff1;
  border-radius: 5px;
}
.forum-teniryte blockquote {
  text-decoration: none;
  border: none;
  font-style: normal;
  font-size: 0.8em;
  font-weight: 400;
  margin-bottom: 10px;
  background-color: #eceff1;
  border-radius: 5px;
  padding: 0.55em 0.9em 0.65em 0.9em;
  padding-left: 20px;
  border-left: 3px solid #b0bec5;
  transition: 0.3s margin-left, 0.3s padding-left;
}
.forum-teniryte blockquote:hover {
  margin-left: 30px;
  padding-left: 30px;
}
.forum-teniryte blockquote a {
  text-decoration: none;
  color: #78909c;
  display: flex;
}
